body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #d4c5ae; 
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container h2{
  color: #012547;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

/* Header */
header{
    background: #012547;
    color: #d4c5ae;
    padding-top: 2em;
    min-height: 0.5em;
    border-bottom: #e82703 0.3em solid;
}

header #logo{
    float: left;
}

header nav{
    float: right;
    margin-top: 2em;
}

header a{
    color: #d4c5ae;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
}

header a:hover{
    color: #e82703;
    font-weight: bold;
}

header li{
    display: inline;
    padding: 0 0.4em 0 0.4em;
}

/* About Me */
#about_me{
    border-bottom: #e82703 0.3em solid;
}

#about_me .container{
    font-size: 1.5em;
    text-align: center;
    color: #012547;
}

/* Top 3 */
#top_3{
    background-color: #7f5436;
    
    color: #d4c5ae;
    text-align: center;
}

#top_3 h2{
    text-align: center;
    color: #ff5a3d
}

#top_3 .container{
    text-align: center;
}

.top3grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

/*
#top_3 .container li{
    float: left;
}
*/
.top{
    margin: 0.3em;
}

.top img{
    width: 100%;
    
} 

#proj1{
  grid-column-start: 1;
}

#proj2{
  grid-column-start: 2;
}

#proj3{
  grid-column-start: 3;
}

/* Projects */
.project_grid{
    display: grid;
    grid-template-columns: 55% 45%;
}

.project_description{
  grid-column-start: 1;
  grid-column-end: 2;
  color: #7f5436;
  padding: 0.5em;
}

.photo-holder{
  grid-column-start: 2;
  grid-column-end: 3;
}

.photo-holder img{
  width: 100%;
}

/* Experience */
.experience_grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.experience{
  color: #7f5436;
}

.fleft{
  grid-column-start: 1;
}

.fright{
  grid-column-start: 2;
}


/* Footer */
footer{
    padding: 2em;
    color: #d4c5ae;
    background-color: #012547;
    text-align: center;
    border-top: #e82703 0.3em solid;
}

/* Other Media */


